.personal-form {
  position: absolute;
}
.personal-form-container {
  display: flex;
  justify-content: start;
  position: relative;
}
.personal-form-bg {
  height: 70vh;
  opacity: 0.2;
  margin-top: 35px;
  overflow: hidden;
}

.static-text {
  color: blue;
}

.avatar-image {
  height: 100px;
  min-width: 100px;
  max-width: 150px;
  background-color: lightblue;
  border: solid 1px lightblue;
  box-shadow: 0 5px 4px lightblue;
}

.upload {
  opacity: 0;
}

.upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
