.Navbar {
  background-color: #3a7fe0 !important;
  /* background-color: #123cd2; */
  background-color: rgba(70, 160, 220, 0.3) !important;
  /* height: 15vh; */
  display: flex;
  align-items: center;
}

.Navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.logo {
  align-self: stretch;
  border-radius: 70px;
  margin: 10px;
  width: 300px;
  border: 2px solid blue;
}

.wisdom-owl {
  height: 10vh;
  width: auto;
}
.wisdom-owl-sm {
display: none;

}

.nav-link {
  color: blue !important;
}
.nav-link:hover {
  background-color: #f8f9fb !important;
  border: 2px solid rgb(11, 43, 225);
  border-radius: 25px;
}

.logout-button {
  background-color: lightblue !important;
  color: blue !important;
  margin-left: 20px;
}

.flex-grow {
  flex-grow: 1;
}

.align-nav-items {
  align-items: center !important;
}

.navbar-toggler {
  border-color: blue !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25em blue !important;
}

@media (max-width: 992px) {
  .logo {
    width: 170px;
  }
  .wisdom-owl-sm {
    display: inline;
    height: 5vh;
    width: auto;
  }
  .nav-link:hover {
    border: 1px solid rgb(11, 43, 225);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .align-nav-items {
    align-items: start !important;
    margin-left: 20px;
    flex-direction: column;
    justify-content: start;
  }

  .user-menu {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .logout-button {
    margin-left: 0;
  }

  .wisdom-owl {
    display: none;
  }
}
