.Navbar {
  background-color: #3a7fe0;
  /* background-color: #123cd2; */
  background-color: rgba(70, 160, 220, 0.3);
  height: 15vh;
  display: flex;
  align-items: center;
}

.Navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.logo {
  align-self: stretch;
  border-radius: 70px;
  margin: 10px;
  width: 300px;
  border: 2px solid blue;
}

.wisdom-owl {
  height: 10vh;
  width: auto;
}
